*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: rgb(228,228,228);
    font-family: monospace;
}
.topp{
    background-image: url(back.jpg);
    height: 100vh;
    background-size: cover;
}
.toppa{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: teal;
    background: pink;
}
.toppa h1{
    font-size: 40px;
}
.toppa p{
    margin-top: 10px;
    font-size: 20px;
}

.inputcurrency {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    
}
.bottom{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: teal;
    background: pink;
    background-position: cover;
    font-size: 20px;
}
label{
    border: none;
    margin: 0 auto;
    padding: 5px 5px;
    font-size: 20px;
    font-family: serif;
    color: blue;
}
#taka, #dollar, #euro, #pound, #rupee{
    border: none;
    margin: 0 auto;
    padding: 10px 10px;
    margin-top: 5px;
    box-shadow: 0px 1px 5px teal;
}
#taka{
    background: #35d073;
    
} 
#dollar{
    background: #f8b195;
} 
#euro{
    background: #f67280;
} 
#pound{
    background: #c06c84;
} 
#rupee{
    background: #e57f98;
}


